<% @tweets.each_with_index do |tweet, index| %>	
	<div class="tweet" id="tweet-<%= index + @offset %>">
		<div class="picture">
			<img src="<%= tweet.profile_image_url %>" />
		</div>
		<div class="post">
			<%= tweet.text %>
		</div>					
		<div class="clear"></div>		
	</div>
<% end %>